<div class="flex w-4/5 m-4">
  <ul>
    <%= for email <- @user_emails do %>
      <li><%= email %></li>
    <% end %>
  </ul>
  <.team board={@board} module={Team} team="blue"></.team>
  <.card board={@board} id="card" module={Card}></.card>
  <.team board={@board} module={Team} team="red"></.team>
</div>
